img {
  max-width: 100%;
  width: auto;
  height: auto;
}

hr {
  border-color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 600px) {

  .image.left,
  .image.right {
    max-width: 100% !important;
  }

  .image.left {
    float:none;
    width: 100%;
  }

}
