/* pie de fotos  */

h9 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-size: 5px;
    font-size: 0.5rem;
    color: rgba(#FFFFFF);
  }
  
  h8 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.231em;
    color: #FF0000;
  
  }
  
  h7 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    font-size: 8px;
    font-size: 0.8rem;
    line-height: 1.231em;
  
  }
  
  .oneandhalf {
  line-height: 0pt;
  }
  
  
  /* Wrapper */
  
      .wrapper {
          padding: 6em 0 4em 0 ;
      }
  
          .wrapper > .inner {
              width: 60em;
              margin: 0 auto;
          }
  
              @media screen and (max-width: 1280px) {
  
                  .wrapper > .inner {
                      width: 90%;
                  }
  
              }
  
              @media screen and (max-width: 980px) {
  
                  .wrapper > .inner {
                      width: 100%;
                  }
  
              }
  
          .wrapper.alt {
              padding: 0;
          }
          .wrapper.style7 {
              background-color: #777702;
              color: #d3d4e4;
          }
  
              .wrapper.style7 strong, .wrapper.style7 b {
                  color: #ffffff;
              }
  
              .wrapper.style7 h2, .wrapper.style7 h3, .wrapper.style7 h4, .wrapper.style7 h5, .wrapper.style7 h6 {
                  color: #ffffff;
              }
  
              .wrapper.style7 hr {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 blockquote {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 code {
                  background: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style7 header p {
                  color: #a6e0db;
              }
  
              .wrapper.style7 header.major h2, .wrapper.style7 header.major h3, .wrapper.style7 header.major h4, .wrapper.style7 header.major h5, .wrapper.style7 header.major h6 {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 header.major p {
                  color: #c8ece9;
              }
  
              .wrapper.style7 label {
                  color: #ffffff;
              }
  
              .wrapper.style7 input[type="text"],
              .wrapper.style7 input[type="password"],
              .wrapper.style7 input[type="email"],
              .wrapper.style7 select,
              .wrapper.style7 textarea {
                  background-color: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style7 select {
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.125)' /%3E%3C/svg%3E");
              }
  
                  .wrapper.style7 select option {
                      color: #ffffff;
                      background: #21b2a6;
                  }
  
              .wrapper.style7 input[type="checkbox"] + label,
              .wrapper.style7 input[type="radio"] + label {
                  color: #c8ece9;
              }
  
                  .wrapper.style7 input[type="checkbox"] + label:before,
                  .wrapper.style7 input[type="radio"] + label:before {
                      background: rgba(255, 255, 255, 0.075);
                  }
  
              .wrapper.style7 input[type="checkbox"]:checked + label:before,
              .wrapper.style7 input[type="radio"]:checked + label:before {
                  background: #ffffff;
                  color: #21b2a6;
              }
  
              .wrapper.style7 ::-webkit-input-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style7 :-moz-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style7 ::-moz-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style7 :-ms-input-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style7 .formerize-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style7 .icon.major {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 ul.alt li {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 table {
                  width: 90%;
              }
  
              .wrapper.style7 table tbody tr {
                  border-color: #0a4b6d;
              }
  
  
                  .wrapper.style7 table tbody tr:nth-child(2n + 1) {
                      background-color: #0a4b6d;
                  }
  
              .wrapper.style7 table th {
                  color: #0a4b6d;
              }
  
              .wrapper.style7 table thead {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 table tfoot {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 table.alt tbody tr td {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style7 input[type="submit"],
              .wrapper.style7 input[type="reset"],
              .wrapper.style7 input[type="button"],
              .wrapper.style7 button,
              .wrapper.style7 .button {
                  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
                  color: #ffffff;
              }
  
                  .wrapper.style7 input[type="submit"]:hover,
                  .wrapper.style7 input[type="reset"]:hover,
                  .wrapper.style7 input[type="button"]:hover,
                  .wrapper.style7 button:hover,
                  .wrapper.style7 .button:hover {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
  
                  .wrapper.style7 input[type="submit"]:active,
                  .wrapper.style7 input[type="reset"]:active,
                  .wrapper.style7 input[type="button"]:active,
                  .wrapper.style7 button:active,
                  .wrapper.style7 .button:active {
                      background-color: rgba(255, 255, 255, 0.2);
                  }
  
              @media screen and (max-width: 736px) {
  
                  .wrapper.style7 .features li {
                      border-top-color: rgba(0, 0, 0, 0.125);
                  }
  
              }
  
          .wrapper.style8 {
              background-color: #7a250b;
              color: #d3d4e4;
          }
  
              .wrapper.style8 strong, .wrapper.style8 b {
                  color: #ffffff;
              }
  
              .wrapper.style8 h2, .wrapper.style8 h3, .wrapper.style8 h4, .wrapper.style8 h5, .wrapper.style8 h6 {
                  color: #ffffff;
              }
  
              .wrapper.style8 hr {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style8 blockquote {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style8 code {
                  background: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style8 header p {
                  color: #a6e0db;
              }
  
              .wrapper.style8 header.major h2, .wrapper.style8 header.major h3, .wrapper.style8 header.major h4, .wrapper.style8 header.major h5, .wrapper.style8 header.major h6 {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style8 header.major p {
                  color: #c8ece9;
              }
  
              .wrapper.style8 label {
                  color: #ffffff;
              }
  
              .wrapper.style8 input[type="text"],
              .wrapper.style8 input[type="password"],
              .wrapper.style8 input[type="email"],
              .wrapper.style8 select,
              .wrapper.style8 textarea {
                  background-color: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style8 select {
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.125)' /%3E%3C/svg%3E");
              }
  
                  .wrapper.style8 select option {
                      color: #ffffff;
                      background: #21b2a6;
                  }
  
              .wrapper.style8 input[type="checkbox"] + label,
              .wrapper.style8 input[type="radio"] + label {
                  color: #c8ece9;
              }
  
                  .wrapper.style8 input[type="checkbox"] + label:before,
                  .wrapper.style8 input[type="radio"] + label:before {
                      background: rgba(255, 255, 255, 0.075);
                  }
  
              .wrapper.style8 input[type="checkbox"]:checked + label:before,
              .wrapper.style8 input[type="radio"]:checked + label:before {
                  background: #ffffff;
                  color: #21b2a6;
              }
  
              .wrapper.style8 ::-webkit-input-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style8 :-moz-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style8 ::-moz-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style8 :-ms-input-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style8 .formerize-placeholder {
                  color: #777702 !important;
              }
  
              .wrapper.style8 .icon.major {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style8 ul.alt li {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style8 table {
                  width: 90%;
              }
  
              .wrapper.style8 table tbody tr {
                  border-color: #d7f4c8
  
              }
  
  
                  .wrapper.style8 table tbody tr:nth-child(2n + 1) {
                      background-color: #6d4d07;
  
  
                  }
  
              .wrapper.style8 table th {
                  color: #d7f4c8
  
              }
  
              .wrapper.style8 table thead {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #0a0a0a;
              }
  
              .wrapper.style8 table tfoot {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #0a0a0a;
              }
  
              .wrapper.style8 table.alt tbody tr td {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #0a0a0a;
              }
  
              .wrapper.style8 input[type="submit"],
              .wrapper.style8 input[type="reset"],
              .wrapper.style8 input[type="button"],
              .wrapper.style8 button,
              .wrapper.style8 .button {
                  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
                  color: #ffffff;
              }
  
                  .wrapper.style8 input[type="submit"]:hover,
                  .wrapper.style8 input[type="reset"]:hover,
                  .wrapper.style8 input[type="button"]:hover,
                  .wrapper.style8 button:hover,
                  .wrapper.style8 .button:hover {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
  
                  .wrapper.style8 input[type="submit"]:active,
                  .wrapper.style8 input[type="reset"]:active,
                  .wrapper.style8 input[type="button"]:active,
                  .wrapper.style8 button:active,
                  .wrapper.style8 .button:active {
                      background-color: rgba(255, 255, 255, 0.2);
                  }
  
              @media screen and (max-width: 736px) {
  
                  .wrapper.style8 .features li {
                      border-top-color: rgba(0, 0, 0, 0.125);
                  }
  
              }
          .wrapper.style9 {
              background-color: #918077;
              color: #424244;
          }
  
              .wrapper.style9 strong, .wrapper.style9 b {
                  color: #000116;
              }
  
              .wrapper.style9 h2, .wrapper.style9 h3, .wrapper.style9 h4, .wrapper.style9 h5, .wrapper.style9 h6 {
                  color: #ffffff;
              }
  
              .wrapper.style9 hr {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style9 blockquote {
                  background: #d3d4e4;
                          color: #d3d4e4;
              }
  
              .wrapper.style9 code {
                  background: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style9 header p {
                  color: #d3d4e4;
              }
  
              .wrapper.style9 header.major h2, .wrapper.style9 header.major h3, .wrapper.style9 header.major h4, .wrapper.style9 header.major h5, .wrapper.style9 header.major h6 {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style9 header.major p {
                  color: #d3d4e4;
              }
  
              .wrapper.style9 label {
                  color: #d3d4e4;
              }
  
              .wrapper.style9 input[type="text"],
              .wrapper.style9 input[type="password"],
              .wrapper.style9 input[type="email"],
              .wrapper.style9 select,
              .wrapper.style9 textarea {
                  background-color: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style9 select {
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.125)' /%3E%3C/svg%3E");
              }
  
                  .wrapper.style9 select option {
                      color: #d3d4e4;
                      background: #044709;
                  }
  
              .wrapper.style9 input[type="checkbox"] + label,
              .wrapper.style9 input[type="radio"] + label {
                  color: #d3d4e4;
              }
  
                  .wrapper.style9 input[type="checkbox"] + label:before,
                  .wrapper.style9 input[type="radio"] + label:before {
                      background: rgba(255, 255, 255, 0.075);
                  }
  
              .wrapper.style9 input[type="checkbox"]:checked + label:before,
              .wrapper.style9 input[type="radio"]:checked + label:before {
                  background: #044709;
                  color: #d3d4e4;
              }
  
              .wrapper.style9 ::-webkit-input-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style9 :-moz-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style9 ::-moz-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style9 :-ms-input-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style9 .formerize-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style9 .icon.major {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style9 ul.alt li {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style9 table {
                  width: 90%;
              }
  
              .wrapper.style9 table tbody tr {
                  border-color: #b7b7b7;
  
              }
  
  
                  .wrapper.style9 table tbody tr:nth-child(2n + 1) {
                      background-color: #b7b7b7;
  
  
                  }
  
              .wrapper.style9 table th {
                  color: #b7b7b7;
  
              }
  
              .wrapper.style9 table thead {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style9 table tfoot {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style9 table.alt tbody tr td {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style9 input[type="submit"],
              .wrapper.style9 input[type="reset"],
              .wrapper.style9 input[type="button"],
              .wrapper.style9 button,
              .wrapper.style9 .button {
                  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
                  color: #ffffff;
              }
  
                  .wrapper.style9 input[type="submit"]:hover,
                  .wrapper.style9 input[type="reset"]:hover,
                  .wrapper.style9 input[type="button"]:hover,
                  .wrapper.style9 button:hover,
                  .wrapper.style9 .button:hover {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
  
                  .wrapper.style9 input[type="submit"]:active,
                  .wrapper.style9 input[type="reset"]:active,
                  .wrapper.style9 input[type="button"]:active,
                  .wrapper.style9 button:active,
                  .wrapper.style9 .button:active {
                      background-color: rgba(255, 255, 255, 0.2);
                  }
  
              @media screen and (max-width: 736px) {
  
                  .wrapper.style9 .features li {
                      border-top-color: rgba(0, 0, 0, 0.125);
                  }
  
              }
  
  
         .wrapper.style7x {
              background-color: #acf720;
              color: #acf720;
          }
  
              .wrapper.style6 strong, .wrapper.style6 b {
                  color: #000116;
              }
  
              .wrapper.style6 h2, .wrapper.style6 h3, .wrapper.style6 h4, .wrapper.style6 h5, .wrapper.style6 h6 {
                  color: #ffffff;
              }
  
              .wrapper.style6 hr {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style6 blockquote {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style6 code {
                  background: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style6 header p {
                  color: #d3d4e4;
              }
  
              .wrapper.style6 header.major h2, .wrapper.style6 header.major h3, .wrapper.style6 header.major h4, .wrapper.style6 header.major h5, .wrapper.style6 header.major h6 {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style6 header.major p {
                  color: #d3d4e4;
              }
  
              .wrapper.style6 label {
                  color: #d3d4e4;
              }
  
              .wrapper.style6 input[type="text"],
              .wrapper.style6 input[type="password"],
              .wrapper.style6 input[type="email"],
              .wrapper.style6 select,
              .wrapper.style6 textarea {
                  background-color: rgba(255, 255, 255, 0.075);
              }
  
              .wrapper.style6 select {
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.125)' /%3E%3C/svg%3E");
              }
  
                  .wrapper.style6 select option {
                      color: #d3d4e4;
                      background: #044709;
                  }
  
              .wrapper.style6 input[type="checkbox"] + label,
              .wrapper.style6 input[type="radio"] + label {
                  color: #d3d4e4;
              }
  
                  .wrapper.style6 input[type="checkbox"] + label:before,
                  .wrapper.style6 input[type="radio"] + label:before {
                      background: rgba(255, 255, 255, 0.075);
                  }
  
              .wrapper.style6 input[type="checkbox"]:checked + label:before,
              .wrapper.style6 input[type="radio"]:checked + label:before {
                  background: #044709;
                  color: #d3d4e4;
              }
  
              .wrapper.style6 ::-webkit-input-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style6 :-moz-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style6 ::-moz-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style6 :-ms-input-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style6 .formerize-placeholder {
                  color:  #d3d4e4 !important;
              }
  
              .wrapper.style6 .icon.major {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style6 ul.alt li {
                  border-color: rgba(0, 0, 0, 0.125);
              }
  
              .wrapper.style6 table {
                  width: 90%;
              }
  
              .wrapper.style6 table tbody tr {
                  border-color: #b7b7b7;
  
              }
  
  
                  .wrapper.style6 table tbody tr:nth-child(2n + 1) {
                      background-color: #b7b7b7;
  
  
                  }
  
              .wrapper.style6 table th {
                  color: #b7b7b7;
  
              }
  
              .wrapper.style6 table thead {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style6 table tfoot {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style6 table.alt tbody tr td {
                  border-color: rgba(0, 0, 0, 0.125);
                  color: #b7b7b7;
              }
  
              .wrapper.style6 input[type="submit"],
              .wrapper.style6 input[type="reset"],
              .wrapper.style6 input[type="button"],
              .wrapper.style6 button,
              .wrapper.style6 .button {
                  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
                  color: #ffffff;
              }
  
                  .wrapper.style6 input[type="submit"]:hover,
                  .wrapper.style6 input[type="reset"]:hover,
                  .wrapper.style6 input[type="button"]:hover,
                  .wrapper.style6 button:hover,
                  .wrapper.style6 .button:hover {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
  
                  .wrapper.style6 input[type="submit"]:active,
                  .wrapper.style6 input[type="reset"]:active,
                  .wrapper.style6 input[type="button"]:active,
                  .wrapper.style6 button:active,
                  .wrapper.style6 .button:active {
                      background-color: rgba(255, 255, 255, 0.2);
                  }
  
              @media screen and (max-width: 736px) {
  
                  .wrapper.style6 .features li {
                      border-top-color: rgba(0, 0, 0, 0.125);
                  }
  
              }
  